# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Environment
.env

# Reports
reports/

# Screenshots
screenshots/

.pytest_cache/
.vscode/
dist/
build/

# Selenium 프로필 및 임시 파일
helpychat-selenium-profile/
report.html
*.log